<html>

<head>
    <title><%= pageName %></title>
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>

<body>
    <link href="./index.css">
    <div id="container">
        <div id="menu-bar">
            <div>File</div>
            <div>Home</div>
            <div>View</div>
            <div>Data</div>
            <div>Help</div>
            <div id="new">New</div>
            <div id="open">Open</div>
            <div id="save">Save</div>
        </div>
        <div id="formula-bar">
        <input type ="text" id ="cell">
        <div id= "seperator" >:</div>
        <input type ="text" id ="formula">
        </div>
        <div id="content-container">
            <div id ="tl-cell"></div>
            <div id ="first-row">
                <% for(let j =0;j<cols;j++) { %>
                        <div class="cell"><%= String.fromCharCode('A'.charCodeAt(0) + j ) %></div>
                    
                    <% } %>
                </div>
            <div id ="first-col">
                <% for(let i =0;i<rows;i++) { %>
                    <div class="cell"><%= i +1%></div>
                <% } %>

            </div>
            <div id="grid">
                <% for(let i =0;i<rows;i++) { %>
                    <div class ="row">
                        <% for(let j =0;j<cols;j++) { %>
                            <div class ="cell" contenteditable="true"></div>
                        <% } %>
                    </div>

                <% } %>
            </div>
        </div>
        <div id="sheets">
        <div>Sheet 1</div>
        <div id="add">+</div>
        </div>
    </div>
    <script src="./index.js"></script>
</body>

</html>