html body{
    margin: 0px;
    padding: 0px;

}
*{
    box-sizing: border-box;
    outline: none;
}
title{
    background-color: green;
}
#container{
    display: flex;
    flex-direction: column;
    border: solid 1px brown;
}
#menu-bar{
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 2.5vh;
}
#menu-bar div{
    margin: 2px 5px 0px 5px;
    font-size: 12px;
    cursor: pointer;
}
#menu-bar div:hover,#menu-bar>div.selected{
    border-bottom: 1px solid red;

}
#menu-content-container{
    display:flex;
    flex-direction: row;
    height:60px;
}
.menu-container{
    display:flex;
    flex-direction: row;;
}
.menu-group{
    display:flex;
    flex-direction: column;
    border-right: 0.5px solid lightgray;
    border-radius: 2px;
    padding:5px;

}
.menu-row{
    display:flex;
    flex-direction: row;
    margin:2px;
}
#formula-bar{
    display: flex;
    flex-direction: row;
    height: 2.5vh;
}
#formula-bar>#cell{
    flex:3%;
}
#formula-bar>#separartor{
    flex:1%;
}
#formula-bar>#formula{
    flex:96%;
}
/* #content-container{
    display: flex;
    flex-direction: row;
    background-color: orange;
    height: 90vh;
} */
#sheets{
    display: flex;
    flex-direction: row;
   /* // padding: 1px; */
    height: 2.5vh;
}
#sheets> div{
    padding: 2px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
#sheets> div:hover{
    border-bottom: 2px solid blue;
    font-weight: bold;
}
#sheets> #add{
    display: flex;
    flex-direction: row;
    width: 20px;
    text-align: center;
}
#content-container{
    height: calc(100vh - 120px);
    position: relative;
    overflow: auto;
}
#tl-cell{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: lightgrey;
    z-index:3;
}
#first-row{
    position: absolute;
    top: 0px;
    left: 25px;
    height: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
     z-index:1;
}
.cell{
    width: 60px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    color: green;
    background-color: lightgray;
}
#first-col{
    position: absolute;
    top: 25px;
    width: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
     z-index:2;
}
#first-col .cell{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}
#grid{
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
}
#grid .cell{
    height: 25px;
    width: 60px;
}
.row{
    display: flex;
    flex-direction: row;
}

