html body{
    margin: 0px;
    padding: 0px;

}
title{
    background-color: green;
}
#container{
    display: flex;
    flex-direction: column;
    border: solid 1px brown;
}
#menu-bar{
    display: flex;
    flex-direction: row;
    background-color: green;
    height: 2.5vh;
}
#menu-bar div{
    margin: 2px 5px 0px 5px;
    font-size: 12px;
    cursor: pointer;
}
#menu-bar div:hover{
    border-bottom: 1px solid red;
}
#formula-bar{
    display: flex;
    flex-direction: row;
    height: 2.5vh;
}
#formula-bar>#cell{
    flex:3%;
}
#formula-bar>#separartor{
    flex:1%;
}
#formula-bar>#formula{
    flex:96%;
}
/* #content-container{
    display: flex;
    flex-direction: row;
    background-color: orange;
    height: 90vh;
} */
#sheets{
    display: flex;
    flex-direction: row;
    height: 2.5vh;
}
#sheets> div{
    padding: 2px;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
}
#sheets> div:hover{
    border-bottom: 2px solid blue;
    font-weight: bold;
}
#sheets> #add{
    width: 20px;
    text-align: center;
}
#content-container{
    height: calc(100vh - 100px);
    position: relative;
    overflow: auto;
}
#t1-cell{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 25px;
    width: 25px;
    background-color: lightgrey;
    z-index:3;
}
#first-row{
    position: absolute;
    top: 0px;
    left: 25px;
    height: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: row;
     z-index:1;
}
.cell{
    width: 60px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
    color: green;
}
#first-col{
    position: absolute;
    top: 25px;
    width: 25px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
     z-index:2;
}
#first-col .cell{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    text-align: center;
    box-sizing: border-box;
}
#grid{
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    flex-direction: column;
}
#grid .cell{
    height: 25px;
    width: 60px;
}
.row{
    display: flex;
    flex-direction: row;
}

